body {
    text-align: center;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 13px;
}
p{
   text-align: left;
}
/*#main{
    display: table;
    height: 50%;
    width: 100%;
}*/
#content {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 60%;
}

#about {
    padding-bottom: 20px;
    font-weight: normal;
}

#example-type {
    color: gray;
    font-size: 14px;
}

#speech-content-elements {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    max-height: 300px;
    max-width: 800px;
    border: solid 1px #ccc;
    margin-left: initial;
}

#speech-page-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    border: none;
    resize: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#speech-page-content:focus {
    outline: none;
}

#scoreShow{
    color: red;
    font-family: sans-serif;
    font-size: 30px;
    font-style: italic;
}
.description {
    color: gray;
    font-size: 14px;
}

.speech-content-mic {
    width: 25px;
    height: 25px;
    cursor:pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.speech-mic {
    background: url("mic.gif") no-repeat 100% 100%;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.speech-mic-works {
    background: url("mic-animate.gif") no-repeat 100% 100%;
    background-size: contain;
    width: 50px;
    height: 50px;
}

#speech-page-content::-webkit-scrollbar {
    width: 6px;
}

#speech-page-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#speech-page-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


input{  
    height: 0ch;
    width: 0ch; /* sets the width to 40 times the width of the digit “0” */
}